Repository sibiraj-s/ngx-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

release: ngx-editor v16.0.0-beta.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

docs: update CHANGELOG
  CHANGELOG.md
Due: prettier --write

chore: update pre-push hook to clear angular cache
  .husky/pre-push
Due: none

fix: replace correct range for marker input rules
  projects/ngx-editor/helpers/markInputRule.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
Due: eslint --fix

docs: fix broken link to documentation page
  docs/src/content/docs/index.mdx
Due: none

docs: fix broken link to intro page (#493)
  docs/src/content/docs/index.mdx
Due: none

chore: update devDependencies
  package-lock.json
  package.json
Due: none

docs: update starlight to v0.7.2
  docs/package-lock.json
  docs/package.json
Due: none

docs: update logo to use svg
  docs/astro.config.mjs
  docs/src/assets/ang_edit_32.png
Due: none

fix: remove use of named capute groups
  projects/ngx-editor/helpers/markInputRule.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
Due: eslint --fix

fix: avoid constant startspace count
  projects/ngx-editor/helpers/markInputRule.ts
Due: eslint --fix

fix: bold & em input rules (#491)
  projects/ngx-editor/helpers/markInputRule.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
Due: eslint --fix

docs: cleanup install commands
  README.md
  docs/src/content/docs/en/introduction.md
Due: prettier --write

release: ngx-editor v16.0.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

fix: add trusted-types to dependencies
  projects/ngx-editor/package.json
Due: none

feat: update @floating-ui/* dependencies
  projects/ngx-editor/package.json
Due: none

feat: update prosemirror-view to v1.31.7
  projects/ngx-editor/package.json
Due: none

chore: move trusted-types to dependencies
  projects/ngx-editor/package.json
Due: none

chore: update imports
  projects/ngx-editor/src/lib/pipes/sanitize/sanitize-html.pipe.ts
  projects/ngx-editor/src/lib/trustedTypesUtil.ts
Due: eslint --fix

chore: add trusted-types to allowed dependencies
  projects/ngx-editor/ng-package.json
Due: none

release: ngx-editor v16.0.1
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: bump dependencies
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
Due: none

docs: fix docs path
  docs/astro.config.mjs
  docs/astro.config.ts
  docs/sandbox.config.json
  docs/src/content/docs/commands.md
  docs/src/content/docs/configuration.md
  docs/src/content/docs/doc-html-doc.md
  docs/src/content/docs/editor.md
  docs/src/content/docs/examples/codemirror.mdx
  docs/src/content/docs/examples/collab.md
  docs/src/content/docs/examples/floating-menu.mdx
  docs/src/content/docs/examples/full-featured-editor.mdx
  docs/src/content/docs/examples/history.md
  docs/src/content/docs/examples/input-rules.md
  docs/src/content/docs/examples/mentions.mdx
  docs/src/content/docs/examples/ng-model.md
  docs/src/content/docs/examples/reactive-forms.md
  docs/src/content/docs/examples/shortcuts.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/introduction.md
  docs/src/content/docs/menu.md
  docs/src/content/docs/migrations/migration-5-6.md
  docs/src/content/docs/migrations/migration-6-7.md
  docs/src/content/docs/migrations/migration-7-8.md
  docs/src/content/docs/migrations/migration-8-9.md
  docs/src/content/docs/migrations/migration.md
  docs/src/content/docs/quickstart.mdx
  docs/src/content/docs/schema.md
  docs/src/env.d.ts
Due: eslint --fix, prettier --write

ci: update nodejs to v20
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: none

chore: update starlight to v0.13.0
  docs/package-lock.json
  docs/package.json
Due: none

feat: upgrade to angular v17
  angular.json
  package-lock.json
  package.json
  projects/ngx-editor/package.json
Due: none

feat: upgrade to angular v17 (#513)
  angular.json
  package-lock.json
  package.json
  projects/ngx-editor/package.json
Due: none

chore: update LICENSE
  LICENSE
Due: none

ci: update workflows
  .github/workflows/lock.yml
  .github/workflows/pages.yml
Due: none

build: complete angular 17 upgrade
  angular.json
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
  projects/demo/karma.conf.js
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/app.config.ts
  projects/demo/src/app/app.module.ts
  projects/demo/src/app/app.routes.ts
  projects/demo/src/app/components/custom-menu/custom-menu.component.spec.ts
  projects/demo/src/app/components/custom-menu/custom-menu.component.ts
  projects/demo/src/favicon.ico
  projects/demo/src/main.ts
  tsconfig.json
Due: eslint --fix

ci: update lock issues workflows
  .github/workflows/lock.yml
Due: none

docs: run prettier
  .prettierrc.yml
  docs/src/assets/landing.css
  docs/src/content/docs/commands.md
  docs/src/content/docs/examples/collab.md
  docs/src/content/docs/examples/full-featured-editor.mdx
  docs/src/content/docs/examples/mentions.mdx
  docs/src/content/docs/examples/reactive-forms.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/introduction.mdx
  docs/src/content/docs/menu.md
  docs/src/content/docs/migrations/migration-5-6.md
  docs/src/content/docs/migrations/migration-7-8.md
  docs/src/content/docs/migrations/migration.md
  docs/src/content/docs/quickstart.mdx
  docs/tsconfig.json
Due: prettier --write

Update Image.ts
  projects/ngx-editor/src/lib/commands/Image.ts
Due: eslint --fix

feat: bump dependencies
  projects/ngx-editor/package.json
Due: none

chore: bump devDependencies
  package-lock.json
  package.json
Due: none

chore: cleanup husky git hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: update husky prepare script
  package.json
Due: none

chore: fix tslib version
  projects/ngx-editor/package.json
Due: none

release: ngx-editor v17.0.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

fix: add ids to form elements for a11y
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: projects/**/*.html)
  prettier --write: (any of: docs/**/*.html) or (any of: *.{md,css,astro})
