Repository sibiraj-s/ngx-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

release: ngx-editor v17.5.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

fix: parse data-indent attribute correctly
  projects/ngx-editor/schema/nodes.ts
Due: eslint --fix

release: ngx-editor v17.5.1
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

fix: remove color mouse click event
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
Due: eslint --fix

release: ngx-editor v17.5.2
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

fix: toggle text align marks
  projects/ngx-editor/src/lib/commands/TextAlign.ts
Due: eslint --fix

release: ngx-editor v17.5.3
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

fix: restore correct pointer styles
  projects/ngx-editor/src/lib/editor.component.scss
Due: none

chore: update feature request template
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: fix duplicate id in feature template
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

release: ngx-editor v17.5.4
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

fix: wrong input type
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
Due: eslint --fix

fix: wrong input type (#556)
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
Due: eslint --fix

build(deps): upgrade Angular to v18.1
  package-lock.json
  package.json
Due: none

fix link
  README.md
Due: prettier --write

build(deps): upgrade Angular to v18.1 (#572)
  package-lock.json
  package.json
Due: none

build: update to angular v18.2
  angular.json
  package-lock.json
  package.json
  projects/demo/public/favicon.ico
  projects/demo/public/ngx-editor.svg
  projects/demo/src/app/app.component.html
  projects/demo/src/index.html
  projects/demo/src/styles.scss
  projects/demo/tsconfig.app.json
  projects/demo/tsconfig.spec.json
  projects/ngx-editor/package.json
  projects/ngx-editor/tsconfig.lib.json
  projects/ngx-editor/tsconfig.lib.prod.json
  projects/ngx-editor/tsconfig.spec.json
  tsconfig.json
Due: eslint --fix

chore: update astro deps
  .github/workflows/pages.yml
  docs/package-lock.json
  docs/package.json
Due: none

release: ngx-editor v18.0.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

docs: fix typo
  docs/src/content/docs/examples/reactive-forms.md
Due: prettier --write

docs: fix README link (#578)
  README.md
Due: prettier --write

fix: add attribute type="button" at insert-command.component to prevent form submit
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.html
Due: eslint --fix

fix: prevent form submit on insert command (#585)
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.html
Due: eslint --fix

chore: bump dependencies
  package-lock.json
Due: none

chore: fix build scripts
  package-lock.json
  package.json
  scripts/postbuild.js
Due: eslint --fix

build: update to angular 19 and standalone components
  angular.json
  package-lock.json
  package.json
  projects/demo/src/app/app.component.ts
  projects/ngx-editor/package.json
  projects/ngx-editor/src/lib/components/image-view/image-view.component.spec.ts
  projects/ngx-editor/src/lib/components/image-view/image-view.component.ts
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.module.ts
  projects/ngx-editor/src/lib/icons.spec.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.html
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.module.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
Due: eslint --fix

fix: updated package version to 19
  package.json
  projects/ngx-editor/package.json
Due: none

fix: updated documentation and renamed components for consistency and clarity
  README.md
  docs/src/content/docs/examples/full-featured-editor.mdx
  docs/src/content/docs/introduction.mdx
  docs/src/content/docs/menu.md
  docs/src/content/docs/quickstart.mdx
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/components/custom-menu/custom-menu.component.spec.ts
  projects/demo/src/app/components/custom-menu/custom-menu.component.ts
  projects/demo/src/main.ts
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
Due: eslint --fix, prettier --write

chore: bump dependencies
  package-lock.json
  package.json
Due: none

chore: code cleanups
  angular.json
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/components/custom-menu/custom-menu.component.spec.ts
  projects/demo/src/app/components/custom-menu/custom-menu.component.ts
Due: eslint --fix

chore: code cleanups
  .lintstagedrc.yml
  .prettierrc.yml
  docs/src/content/docs/examples/full-featured-editor.mdx
  projects/demo/src/app/components/custom-menu/custom-menu.component.spec.ts
Due: eslint --fix

chore: code cleanups
  projects/ngx-editor/src/lib/modules/menu/image/image.component.spec.ts
Due: eslint --fix

chore: update manifest
  package.json
  projects/ngx-editor/package.json
Due: none

chore: update lockfile
  package-lock.json
Due: none

chore: migrate to angular-eslint
  .eslintrc.json
  angular.json
  commitlint.config.js
  eslint.config.js
  package-lock.json
  package.json
  projects/demo/.eslintrc.json
  projects/demo/eslint.config.js
  projects/ngx-editor/.eslintrc.json
  projects/ngx-editor/commands/applyMark.ts
  projects/ngx-editor/eslint.config.js
  projects/ngx-editor/helpers/isNodeActive.ts
  projects/ngx-editor/package.json
  projects/ngx-editor/schema/nodes.ts
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/EditorCommands.ts
  projects/ngx-editor/src/lib/commands/FormatClear.ts
  projects/ngx-editor/src/lib/commands/TextColor.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.service.ts
  projects/ngx-editor/src/lib/parsers.ts
  projects/ngx-editor/src/lib/plugins/image-resize.ts
  projects/ngx-editor/src/lib/stringUtil.ts
  projects/ngx-editor/src/lib/types.ts
  projects/ngx-editor/src/lib/validators.ts
  projects/ngx-editor/utils/toStyleString.ts
  scripts/postbuild.js
Due: eslint --fix

chore: bump docs dependencies
  docs/astro.config.ts
  docs/package-lock.json
  docs/package.json
Due: eslint --fix

chore: server rendering
  angular.json
  eslint.config.js
  package-lock.json
  package.json
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/app.config.server.ts
  projects/demo/src/app/app.config.ts
  projects/demo/src/app/app.router.server.ts
  projects/demo/src/app/app.routes.ts
  projects/demo/src/app/editor.component.html
  projects/demo/src/app/editor.component.scss
  projects/demo/src/app/editor.component.spec.ts
  projects/demo/src/app/editor.component.ts
  projects/demo/src/main.server.ts
  projects/demo/src/main.ts
  projects/demo/src/server.ts
  projects/demo/tsconfig.app.json
  projects/ngx-editor/package.json
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/trustedTypesUtil.ts
  tsconfig.json
Due: eslint --fix

chore: pretty format
  README.md
  docs/src/content/docs/examples/full-featured-editor.mdx
  docs/src/content/docs/introduction.mdx
  docs/src/content/docs/menu.md
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/app/app.config.server.ts
  projects/demo/src/app/components/custom-menu/custom-menu.component.spec.ts
  projects/demo/src/app/editor.component.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/editor.module.ts
  projects/ngx-editor/src/lib/icons.spec.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.module.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: projects/**/*.html)
  prettier --write: (any of: docs/**/*.html) or (any of: *.{md,css,astro})
