Repository sibiraj-s/ngx-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: cleanup eslint config
  .eslintrc.json
  package-lock.json
  package.json
  projects/demo/.eslintrc.json
  projects/demo/src/app/app.component.html
  projects/ngx-editor/.eslintrc.json
  projects/ngx-editor/package.json
Due: eslint --fix

chore: run prettier on html with angular parser
  .prettierrc.yml
  projects/demo/src/app/components/custom-menu/custom-menu.component.html
  projects/demo/src/index.html
  projects/ngx-editor/src/lib/components/image-view/image-view.component.html
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.html
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.html
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.html
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.html
  projects/ngx-editor/src/lib/modules/menu/menu.component.html
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.html
Due: eslint --fix

build: add nanoid to external deps
  projects/ngx-editor/ng-package.json
Due: none

release: ngx-editor v17.0.1
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

feat: link toolbar 'Open in new tab' option
  docs/src/content/docs/menu.md
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.html
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix, prettier --write

fix: remove nanoid dependency
  package-lock.json
  package.json
  projects/ngx-editor/ng-package.json
  projects/ngx-editor/package.json
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/utils/public_api.ts
  projects/ngx-editor/utils/uniq.ts
Due: eslint --fix

chore: resolve vulnerabilities
  package-lock.json
Due: none

feat: link toolbar 'Open in new tab' option (#528)
  docs/src/content/docs/menu.md
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.html
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix, prettier --write

refactor: remove duplicate link menu template
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.html
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix

release: ngx-editor v17.0.2
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: bump dependencies
  package-lock.json
  package.json
Due: none

ci: configure workflow to lock discussions
  .github/workflows/lock.yml
Due: none

chore: bump dependencies
  .gitignore
  package-lock.json
  package.json
Due: none

chore: update docs dependencies
  docs/package-lock.json
  docs/package.json
Due: none

chore: cleanup types
  projects/ngx-editor/schema/marks.ts
  tsconfig.json
Due: eslint --fix

feat: add support for parseOptions
  docs/src/content/docs/editor.md
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/parsers.ts
Due: eslint --fix, prettier --write

fix: unpin peerDependencies
  projects/ngx-editor/package.json
Due: none

feat: add locale for invalid url text
  docs/src/content/docs/configuration.md
  docs/src/content/docs/examples/full-featured-editor.mdx
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
Due: eslint --fix, prettier --write

feat: improve menu accessibility
  projects/demo/src/app/components/custom-menu/custom-menu.component.html
  projects/demo/src/app/components/custom-menu/custom-menu.component.scss
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.html
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.html
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.html
Due: eslint --fix

fix: unset link only when removed
  projects/ngx-editor/commands/removeLink.ts
Due: eslint --fix

chore: fix example menu item styles
  projects/demo/src/app/components/custom-menu/custom-menu.component.scss
Due: none

release: ngx-editor v17.1.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

fix: editor disabled styles
  projects/ngx-editor/src/lib/editor.component.scss
Due: none

fix: set button disabled state
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.html
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.html
Due: eslint --fix

feat: add support for indent/outdent
  docs/src/content/docs/menu.md
  projects/ngx-editor/schema/nodes.ts
  projects/ngx-editor/src/lib/EditorCommands.ts
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/commands/Indent.ts
  projects/ngx-editor/src/lib/commands/index.ts
  projects/ngx-editor/src/lib/icons/indent.ts
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/icons/outdent.ts
  projects/ngx-editor/src/lib/modules/menu/MenuCommands.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/types.ts
  projects/ngx-editor/utils/clamp.ts
  projects/ngx-editor/utils/public_api.ts
Due: eslint --fix, prettier --write

chore: fix codemirror menu class
  projects/demo/src/app/components/custom-menu/custom-menu.component.scss
Due: none

fix: set correct classes for icons
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.html
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.html
Due: eslint --fix

docs: update commands notes
  docs/src/content/docs/commands.md
Due: prettier --write

fix: set disabled attribute to menu buttons
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.html
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
Due: eslint --fix

release: ngx-editor v17.2.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

feat: use css variables to configure styles
  projects/ngx-editor/src/lib/editor.component.scss
Due: none

fix: improve editor accesibility for click events
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.html
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.scss
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.html
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.scss
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.html
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.html
Due: eslint --fix

fix: use css variables for bubble menu
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.scss
Due: none

release: ngx-editor v17.3.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: improve mark typings
  projects/ngx-editor/schema/marks.ts
Due: eslint --fix

feat: add support for superscript, subscript
  docs/src/content/docs/configuration.md
  docs/src/content/docs/menu.md
  projects/ngx-editor/schema/marks.ts
  projects/ngx-editor/src/lib/EditorCommands.ts
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/commands/index.ts
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/icons/subscript.ts
  projects/ngx-editor/src/lib/icons/superscript.ts
  projects/ngx-editor/src/lib/modules/menu/MenuCommands.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix, prettier --write

fix: regression with focus on keyboard menu interaction
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.html
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.html
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.html
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.html
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.html
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
Due: eslint --fix

feat: add undo, redo menu items
  docs/src/content/docs/configuration.md
  docs/src/content/docs/menu.md
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/commands/History.ts
  projects/ngx-editor/src/lib/commands/index.ts
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/icons/redo.ts
  projects/ngx-editor/src/lib/icons/undo.ts
  projects/ngx-editor/src/lib/modules/menu/MenuCommands.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix, prettier --write

release: ngx-editor v17.4.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

feat: support more css variables
  projects/ngx-editor/src/lib/editor.component.scss
Due: none

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: projects/**/*.html)
  prettier --write: (any of: docs/**/*.html) or (any of: *.{md,css,astro})
