Repository sibiraj-s/ngx-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(icons): add support for custom icons in menu (#455)
  docs/src/content/docs/en/introduction.md
  docs/src/content/docs/en/menu.md
  projects/ngx-editor/src/lib/Icons.ts
  projects/ngx-editor/src/lib/editor-config.service.ts
  projects/ngx-editor/src/lib/editor.module.ts
  projects/ngx-editor/src/lib/editor.service.ts
  projects/ngx-editor/src/lib/icons.spec.ts
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix, prettier --write

chore: update devDependencies
  package-lock.json
  package.json
Due: none

chore: update docs devDependencies
  docs/package-lock.json
  docs/package.json
Due: none

fix: cleanup icons implementation
  docs/src/content/docs/en/menu.md
  projects/ngx-editor/src/lib/Icons.ts
  projects/ngx-editor/src/lib/editor.module.ts
  projects/ngx-editor/src/lib/editor.service.ts
  projects/ngx-editor/src/lib/icons.spec.ts
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix, prettier --write

release: ngx-editor v15.3.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

feat: support observables for label translations to avoid overwriting NgxEditorConfig to update them
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.html
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.html
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.html
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.html
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.html
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix

Update README.md
  README.md
Due: prettier --write

docs: Fix typo in migration.md
  docs/src/content/docs/en/migrations/migration.md
Due: prettier --write

docs: fix typo in migration.md (#476)
  docs/src/content/docs/en/migrations/migration.md
Due: prettier --write

docs: fix site base url
  docs/astro.config.mjs
Due: none

docs: fix base url for development
  docs/astro.config.mjs
Due: none

docs: revert baseUrl changes
  docs/astro.config.mjs
Due: none

docs: regenerate package-lock.json
  docs/package-lock.json
Due: none

docs: update @astrojs/starlight v0.2.0
  docs/package-lock.json
  docs/package.json
Due: none

ci: update actions/deploy-pages to v2
  .github/workflows/pages.yml
Due: none

chore: configure vscode
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
Due: none

docs: update @astrojs/starlight to v0.4.1
  docs/package-lock.json
  docs/package.json
Due: none

docs: update astro to v2.7.4
  docs/package-lock.json
  docs/package.json
Due: none

docs: show last updated date in footer
  docs/astro.config.mjs
Due: none

docs: update astro & @astrojs/starlight
  docs/astro.config.mjs
  docs/package-lock.json
  docs/package.json
Due: none

feat: add support for TrustedHTML
  package-lock.json
  package.json
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/EditorCommands.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/editor.service.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
  projects/ngx-editor/src/lib/parsers.ts
  projects/ngx-editor/src/lib/pipes/sanitize/sanitize-html.pipe.ts
  projects/ngx-editor/src/lib/stringUtil.ts
  projects/ngx-editor/src/lib/trustedTypesUtil.ts
Due: eslint --fix

docs: update README.md
  README.md
Due: prettier --write

Update README.md (#470)
  README.md
Due: prettier --write

feat: support observables for label translations (#466)
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.html
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.html
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.html
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.html
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.html
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix

feat: add support for TrustedHTML (#481)
  package-lock.json
  package.json
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/EditorCommands.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/editor.service.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
  projects/ngx-editor/src/lib/parsers.ts
  projects/ngx-editor/src/lib/pipes/sanitize/sanitize-html.pipe.ts
  projects/ngx-editor/src/lib/stringUtil.ts
  projects/ngx-editor/src/lib/trustedTypesUtil.ts
Due: eslint --fix

docs: update README.md
  README.md
  docs/src/content/docs/en/examples/reactive-forms.md
Due: prettier --write

docs: cleanup stackblitz examples
  docs/package-lock.json
  docs/package.json
  docs/src/content/docs/en/examples/codemirror.mdx
Due: none

feat: upgrade to angular v16
  angular.json
  package-lock.json
  package.json
  projects/demo/.browserslistrc
  projects/demo/src/environments/environment.prod.ts
  projects/demo/src/environments/environment.ts
  projects/demo/src/main.ts
  projects/demo/src/polyfills.ts
  projects/demo/src/test.ts
  projects/demo/tsconfig.app.json
  projects/demo/tsconfig.spec.json
  projects/ngx-editor/.browserslistrc
  projects/ngx-editor/karma.conf.js
  projects/ngx-editor/package.json
  projects/ngx-editor/tsconfig.lib.json
  projects/ngx-editor/tsconfig.spec.json
  tsconfig.json
Due: eslint --fix

fix: cleanup missing entrypoints
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.component.ts
  tsconfig.json
Due: eslint --fix

ci: cleanup workflow permissions
  .github/workflows/pages.yml
Due: none

ci: add npm package provenance
  .github/workflows/npmpublish.yml
Due: none

chore: update lint-staged configuration
  .lintstagedrc.yml
Due: none

feat: configure sideEffects for better tree-shaking
  projects/ngx-editor/package.json
Due: none

chore: cleanup tests
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.spec.ts
  projects/ngx-editor/src/test.ts
Due: eslint --fix

docs: update README
  README.md
Due: prettier --write

ci: update workflows
  .github/workflows/pages.yml
Due: none

feat: export ImageViewComponent component
  projects/ngx-editor/src/public_api.ts
Due: eslint --fix

ci: fix npm provenance permissions
  .github/workflows/npmpublish.yml
Due: none

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: projects/**/*.html)
  prettier --write: (any of: docs/**/*.html) or (any of: *.{md,css,astro})
